<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Ajipui 2014</h1>
      <h2 class="project-tagline">Repository Tugas Mahasiswa JIP UI 2014 Kelas A</h2>
      <a href="test.md" class="btn">Metadata B</a>
       <a href="#" class="btn">Kosakata Indeks</a>
       <a href="#" class="btn">Sumber Jasa Informasi B</a>
       <a href="#" class="btn">Preservasi dan Konservasi</a>
       <a href="#" class="btn">Manaj. Perpustakaan Digital</a>
       <a href="#" class="btn">Manaj. Perpustakaan</a>
      <br>
      <a href="https://github.com/sonyayahab/ajipui" class="btn">View on GitHub</a>
         <a href="https://github.com/sonyayahab/ajipui/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/sonyayahab/ajipui/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <div class="container">
			{{ content }}
		</div><!-- /.container -->
     
      <footer class="site-footer">
        <p>Dibuat dengan Cinta oleh Yasin dan Ayahab.</p><span class="site-footer-owner"><a href="https://github.com/sonyayahab/ajipui">Ajipui</a> Dibangun oleh <a href="https://github.com/sonyayahab">sonyayahab</a>.</span>
      </footer>

    </section>

  
  </body>
</html>
